.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container td a {
  color: #404040;
}

.container h2 {
  padding: 1rem;
}

.container table {
  width: 95%;
  border-collapse: collapse;

}

.container td {
  text-align: center;
  font-size: 0.9rem;
  background-color: #f3f3f3;
  color: #404040;
  padding: 0.5rem;
}

.container th {
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
  border-bottom: 2px solid #808080;
  border-top: 2px solid #808080;
  color: #030453;

}

.container tr img {
  max-width: 5rem;
  max-height: 5rem;
}

.total td{
  font-weight: 700;
  font-size: 1rem;
  background-color: #d3d3d3;
  color: #000000;
  padding: 1rem;
}

.containerButtonCheckout {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}
