.products h2 {
    text-align: center;
    padding: 1rem;
}

.containerCards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex: auto;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.containerButtons {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1rem;
    align-content: center;
    flex-wrap: wrap;
}