.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../../public/assets/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.containerText {
    color: white;
    text-align: center;
    width: 50%;
    height: 65%;
    font-weight: 500;
}

.containerText p {
    font-size: 20px;
    padding: 15px;
}

.containerText h1 {
    font-family: 'Seymour One', sans-serif;
    font-size: 65px;
}

@media (max-width: 600px) {
    .containerText h1 {
        font-size: 45px;
    }
}