body {
  margin: 0;
  font-family: 'Roboto', sans-serif, 'Oxygen', 'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  font-family: 'Roboto', sans-serif, 'Oxygen', 'Ubuntu';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

table, th, tr {
  text-align: center;
}